<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="SerialSetting" value="com6/9600/0/8/1" />
    <add key="Reg" value="GqvdMa9hTMDFAIVTYCnorby+gjs7fvafxjH5nYRq44hxcpqXhpVb2U2jGYC8ichkW0UxJM+YSqnYLhuiuXP3x/wqn76Eyd9a7gj/fOKnCqzzoXOQgkCkIam6DjJmFsh+AVaZJ7pXpNQB9z+IiX7IbIy6FD8D6IZBRFsvbB3xDRQ=" />
  </appSettings>

</configuration>