<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--
    端口名/波特率/奇偶校验位/数据位/停止位
    
    奇偶校验位  Parity
    Even	2	设置奇偶校验位，使位数等于偶数
    Mark	3	将奇偶校验位保留为 1
    None	0	不发生奇偶校验检查
    Odd	  1	设置奇偶校验位，使位数等于奇数
    Space	4 将奇偶校验位保留为 0
    
    停止位 StopBits
    None	        0	不使用停止位。 StopBits 属性不支持此值
    One	          1	使用一个停止位
    OnePointFive	3	使用 1.5 个停止位
    Two	          2	使用两个停止位
    
    -->
    <add key="SerialSetting" value="com6/9600/0/8/1"/>

    <add key="Reg" value=""/>

  </appSettings>

</configuration>